[workspace]
name = "level-up-your-python"
channels = ["conda-forge"]
platforms = ["linux-64", "osx-arm64", "osx-64"]

[dependencies]
black = "*"
ipykernel = ">=6.0"
ipython = ">=8.0"
ipywidgets = "*"
jupyter-book = ">=2"
jupyterlab = ">=3"
line_profiler = "*"
matplotlib  = ">=3.10"
mypy = ">=1"
nb_conda_kernels = "*"
numba = ">=0.55"
numpy = ">=2"
pandas = ">=1.3"
pip = "*"
pybind11 = ">=2.11"
pytest = ">=9"
pytest-mock = "*"
python = ">=3.12"
rich = ">=11"

[tasks]
kernel = "python -m ipykernel install --user --name conda-env-level-up-your-python-py"
lab = {cmd = "jupyter lab", depends-on = ["kernel"]}
book = {cmd = "jupyter book build --execute --html", depends-on = ["kernel"]}
book-ci = {cmd = "jupyter book build --execute --ci --html", depends-on = ["kernel"]}
pdf = {cmd = "jupyter book build --pdf --execute", depends-on = ["kernel"]}
